*{
    margin: 0;
    padding: 0;
}


header{
    background-color: rgb(80, 80, 199);
    height: 50vmax;
    text-align: center;
}
h1{
    padding-top: 10%;
    font-size: 6rem;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
.people{
    color: white;
}



































































